<div id="myCarousel3" class="carousel " data-ride="carousel" data-interval="9000000" style="background-color:#f4f4f4;">
  
   <ol class="carousel-indicators" hidden>
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
   <div class="container">
<div  class="carousel-inner" role="listbox">
  
    <div class="item active">
      <div class="col-md-12 col-lg-12"style="padding-left:15%;padding-right:15%;">
         
          <h2>
              {{div[0].topimg[2].midimg[0].alt}}
          </h2>
          <p>
             {{div[0].topimg[2].midimg[0].des}}  
          </p>
          <hr />
          
      </div>
     
    </div>

    <div class="item" >
      <div class="col-md-12 col-lg-12"style="padding-left:15%;padding-right:15%;" >
         
          <h2>
              {{div[0].topimg[2].midimg[1].alt}}
          </h2>
          <p>
             {{div[0].topimg[2].midimg[1].des}}  
          </p>
          <hr />
          
      </div>
    </div>

    <div class="item" >
      <div class="col-md-12 col-lg-12"style="padding-left:15%;padding-right:15%;">
         
          <h2>
              {{div[0].topimg[2].midimg[2].alt}}
          </h2>
          <p>
             {{div[0].topimg[2].midimg[2].des}}  
          </p>
          <hr />
           
      </div>
    </div>


    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev" hidden>
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="prev" hidden>
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>