<li class="dropdown mega-dropdown">
    			<a href="#" class="dropdown-toggle" style="color:#6f6f6f;" data-toggle="dropdown">SKIN CARE </a>				
				<ul class="dropdown-menu mega-dropdown-menu">
					<li class="col-sm-3">
    					<ul>
							<li class="dropdown-header">Category</li>
							<li><a href="#">Cleansers & Toners</a></li>
                            <li><a href="#">Moisturizers</a></li>
                            <li><a href="#">Eyes & Lips</a></li>
							<li><a href="#">Masks & Exfoliators</a></li>
							<li><a href="#">Supplements</a></li>
                            <li><a href="#">Body</a></li>
                            <li><a href="#">Sun</a></li>
                            <li><a href="#">Regimens & Kits</a></li>
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Concerns</li>
							<li><a href="#">Acne</a></li>
							<li><a href="#">Oil Control</a></li>
							<li><a href="#">Pores</a></li>                            
							<li><a href="#">Hydration</a></li>
							<li><a href="#">Lines & Wrinkles</a></li>
							<li><a href="#">Lifting & Firming</a></li>
							<li><a href="#">Dark Spots & Uneven Tone</a></li>
							<li><a href="#">Radiance</a></li>
							<li><a href="#">Sensitive Skin & Redness</a></li>							
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Collection</li>
							<li><a href="#">Acne</a></li>
							<li><a href="#">Anti-Aging Acne</a></li>
							<li><a href="#">Age Reform</a></li>                            
							<li><a href="#">Environmental Shield</a></li>
							<li><a href="#">Invisiblur</a></li>
							<li><a href="#">Murad Professional</a></li>
							<li><a href="#">Pore Reform</a></li>
							<li><a href="#">Resurgence</a></li>
							<li><a href="#">Redness Therapy</a></li>
							<li><a href="#">Youth Builder</a></li>
							<li><a href="#">Murad Man</a></li>
							<li><a href="#">White Brilliance</a></li>							
						</ul>
					</li>
                    <li class="col-sm-3">
    					<ul>
							                          
                            <div id="womenCollection" class="carousel slide" data-ride="carousel" style="padding:0.7%;">
                              <div class="carousel-inner">
                                <div class="item active">
                                    <a href="#"><img src="http://s5.postimg.org/x179mv02f/screenshot_40.png" class="img-responsive" alt="product 1"></a>                                                                               
                                </div><!-- End Item -->
                                                             
                              </div><!-- End Carousel Inner -->
                              <!-- Controls -->
                              <a class="left carousel-control" href="#womenCollection" role="button" data-slide="prev" hidden>
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#womenCollection" role="button" data-slide="next" hidden>
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div><!-- /.carousel -->
                            
                            
						</ul>
					</li>
				</ul>				
			</li>