<div class="container">
  <nav class="navbar">
   <div class="container">
    <div class="navbar-header" style="padding:1%;">
    	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
<a href="#" class="navbar-left"><img src="http://s5.postimg.org/v5fvxyluf/screenshot_37.png"></a>
	</div>
	</div>
	<div class="container">
	<div class="row divine">
	<div class="col-md-12 col-lg-12 col-sm-12">
	<div class="collapse navbar-collapse js-navbar-collapse">
		<ul class="nav navbar-nav">
		
		    
		   {% include "partials/n1.nunjucks" %}
           {% include "partials/n2.nunjucks" %}
           {% include "partials/n3.nunjucks" %}
           {% include "partials/n4.nunjucks" %}
           {% include "partials/n5.nunjucks" %}
           {% include "partials/n6.nunjucks" %}
           {% include "partials/n7.nunjucks" %} 
		    
		
			
            
            
		</ul>
        
	</div><!-- /.nav-collapse -->
	</div>
	</div>
	</div>
  </nav>
</div>
