<div class="container">
   <div class="cyanb">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="col-lg-12 col-md-12" style="text-transform: uppercase;">
                Save 10% on Select Skincare Duos. Shop Now.
            </div>
        </div>
        <div class="col-lg-4 col-md-4 pull-right">

        </div>
    </div>
    </div>
</div>
{% include "partials/navbar.nunjucks" %}
