.full {
    width: 100%;
}

.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}

.footer {
    background: #f4f4f4;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 103%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer p {
    margin: 0;
}

.footer img {
    max-width: 100%;
}

.footer h3 {
    color: #6f6f6f!important;
    font-size: 13px;
    font-weight: 600;
    padding: 40px 0 10px;
}

.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}

.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}

.footer-terms a {
    transition: color .45s;
    color: #242524;
    font-size: 11px;
    letter-spacing: .3px;
}

.footer a {
    color: #999;
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
}

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}

.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}

.newsletter-box {
    overflow: hidden;
}

.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}

.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
    color: #EDEFF1;
}

.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}

.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}

.footer-bottom {
    background: #f4f4f4;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

.jd {
    display: inline-block;
    padding: 4px 0;
    letter-spacing: .3px;
    border-top: 0;
    margin-top: 0;
    font-size: 11px;
    text-align: right;
    width: 50%;
    color: #55565a;
}

.footer-bottom p.pull-left {
    padding-top: 6px;
}

.payments {
    font-size: 1.5em;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?pvm5gj');
    src: url('../fonts/icomoon/icomoon.eot?#iefixpvm5gj') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff?pvm5gj') format('woff'), url('../fonts/icomoon/icomoon.ttf?pvm5gj') format('truetype'), url('../fonts/icomoon/icomoon.svg?pvm5gj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Icons created with icomoon.io/app */

.tabs {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 1em 0 2em;
    font-weight: 300;
}


/* Nav */

.tabs nav {
    text-align: center;
}

.tabs nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.tabs nav ul li {
    border: 1px solid #becbd2;
    border-bottom: none;
    margin: 0 0.25em;
    display: block;
    float: left;
    position: relative;
}

.tabs nav li.tab-current {
    border: 1px solid #47a3da;
    box-shadow: inset 0 2px #47a3da;
    border-bottom: none;
    z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
    content: '';
    position: absolute;
    height: 1px;
    right: 100%;
    bottom: 0;
    width: 1000px;
    background: #47a3da;
}

.tabs nav li.tab-current:after {
    right: auto;
    left: 100%;
    width: 4000px;
}

.tabs nav a {
    color: #becbd2;
    display: block;
    font-size: 1.45em;
    line-height: 2.5;
    padding: 0 1.25em;
    white-space: nowrap;
}

.tabs nav a:hover {
    color: #768e9d;
}

.tabs nav li.tab-current a {
    color: #47a3da;
}


/* Icons */

.tabs nav a:before {
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-family: 'icomoon';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    margin: -0.25em 0.4em 0 0;
}

.icon-food:before {
    content: "\e600";
}

.icon-lab:before {
    content: "\e601";
}

.icon-cup:before {
    content: "\e602";
}

.icon-truck:before {
    content: "\e603";
}

.icon-shop:before {
    content: "\e604";
}


/* Content */

.content section {
    font-size: 1.25em;
    padding: 3em 1em;
    display: none;
    max-width: 1230px;
    margin: 0 auto;
}

.content section:before,
.content section:after {
    content: '';
    display: table;
}

.content section:after {
    clear: both;
}


/* Fallback example */

.no-js .content section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid #47a3da;
}

.content section.content-current {
    display: block;
}

.mediabox {
    float: left;
    width: 33%;
    padding: 0 25px;
}

.mediabox img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.mediabox h3 {
    margin: 0.75em 0 0.5em;
}

.mediabox p {
    padding: 0 0 1em 0;
    margin: 0;
    line-height: 1.3;
}


/* Example media queries */

@media screen and (max-width: 52.375em) {
    .tabs nav a span {
        display: none;
    }
    .tabs nav a:before {
        margin-right: 0;
    }
    .mediabox {
        float: none;
        width: auto;
        padding: 0 0 35px 0;
        font-size: 90%;
    }
    .mediabox img {
        float: left;
        margin: 0 25px 10px 0;
        max-width: 40%;
    }
    .mediabox h3 {
        margin-top: 0;
    }
    .mediabox p {
        margin-left: 40%;
        margin-left: calc(40% + 25px);
    }
    .mediabox:before,
    .mediabox:after {
        content: '';
        display: table;
    }
    .mediabox:after {
        clear: both;
    }
}

@media screen and (max-width: 32em) {
    .tabs nav ul,
    .tabs nav ul li a {
        width: 100%;
        padding: 0;
    }
    .tabs nav ul li {
        width: 20%;
        width: calc(20% + 1px);
        margin: 0 0 0 -1px;
    }
    .tabs nav ul li:last-child {
        border-right: none;
    }
    .mediabox {
        text-align: center;
    }
    .mediabox img {
        float: none;
        margin: 0 auto;
        max-width: 100%;
    }
    .mediabox h3 {
        margin: 1.25em 0 1em;
    }
    .mediabox p {
        margin: 0;
    }
}

//CArds
html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card a:link {
    color: #6f6f6f;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline~.card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}

.btn {
    border-radius: 0;
    border: 0;
    border-bottom: 4px solid #CCCCCC;
    margin: 0;
    -webkit-box-shadow: 0 5px 5px -6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 5px 5px -6px rgba(0, 0, 0, .3);
    box-shadow: 0 5px 5px -6px rgba(0, 0, 0, .3);
}

.btn .btn-block:active,
.btn .btn-lg:active {
    -webkit-box-shadow: inset 0 3px 3px -5px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 3px 3px -5px rgba(0, 0, 0, .3);
    box-shadow: inset 0 3px 3px -5px rgba(0, 0, 0, .3);
}

.btn-default {
    color: #555;
    background-color: #f9f9f9;
    border-color: #cacaca;
    text-shadow: 1px 1px 0 #f5f5f5;
}

.btn-default:hover,
.btn-default:focus {
    background-color: #f4f4f4;
    border-color: #bebebe;
}

.btn-success {
    background-color: #80d752;
    border-color: #61be26;
    text-shadow: 1px 1px 0 #5fdb34;
}

.btn-success:hover,
.btn-success:focus {
    background-color: #75cd53;
    border-color: #53aa27;
}

.btn-info {
    background-color: #39b3d7;
    border-color: #348fd2;
    text-shadow: 1px 1px 0 #238ed5;
}

.btn-info:hover,
.btn-info:focus {
    background-color: #45abcd;
    border-color: #347abe;
}

.btn-warning {
    background-color: #FEAF20;
    border-color: #d79a34;
    text-shadow: 1px 1px 0 #db9e34;
}

.btn-warning:hover,
.btn-warning:focus {
    background-color: #f5a620;
    border-color: #cd9034;
}

.btn-danger {
    background-color: #d73814;
    border-color: #be0000;
    text-shadow: 1px 1px 0 #ac2925;
}

.btn-danger:hover,
.btn-danger:focus {
    background-color: #cd3714;
    border-color: #aa0000;
}

.btn-primary {
    background-color: #4274d7;
    border-color: #4d5bbe;
    text-shadow: 1px 1px 0 #232bd5;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #426acd;
    border-color: #4f56aa;
}

.btn-magick {
    color: #fff;
    background-color: #bb39d7;
    border-color: #9a00cd;
    text-shadow: 1px 1px 0 #9823d5;
}

.btn-magick:hover,
.btn-magick:focus {
    color: #fff;
    background-color: #b13acd;
    border-color: #8600b9;
}

.btn-pressure {
    position: relative;
    margin-bottom: 0;
}

.btn-pressure:focus {
    -moz-outline-style: none;
    outline: medium none;
}

.btn-pressure:active,
.btn-pressure.active {
    top: 4px;
    border: 0;
    position: relative;
}

.btn-sensitive:active,
.btn-sensitive.active {
    top: 1px;
    margin-top: 4px;
}

hr.style5 {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}

.copa {
    background-color: #dcdcdc;
    color: #ffffff;
}

.cyanb {
    background-color: #4cbbc6;
    min-height: 38;
    color: #fff;
    padding: 0.7%;
}
.divine{
    margin-top: 10px;
}
.glyphicon {
    font-size: 50px;
}
#preloader {
	background: #000;
	position:fixed;
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	text-align:center;
	color:#fff;
}
#preloader div {
	width:400px;
	margin:auto;
	height: 3px;
	text-align:center;
	border: 4px solid #111;
	overflow:hidden;
}
#preloader_image {
	position: relative;
	left:0px;
	top:-10px;
}